@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800&family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background: url("../../assets/resources/Backgrounds/0.jpg");
  background-size: contain;
}
body .wrapper {
  height: 100vh;
  overflow: hidden;
}
body header {
  transition: 300ms;
}
body header .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 4em;
  margin: 0em 2em;
}
body header .top-nav .title {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #cfcfcf;
  letter-spacing: 0.705em;
  font-weight: 400;
  font-size: 20px;
}
body header .top-nav .language-selector div,
body header .top-nav .filler {
  color: #a7a7a7;
  font-family: "Bodoni Moda", serif;
  font-size: 15px;
}
body header nav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}
body header nav ul {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 2em 0;
  gap: 60px;
  list-style: none;
}
body header nav ul li a {
  border: 2px solid transparent;
  padding-bottom: 2em;
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  font-size: 15px;
  color: #cecece;
  text-decoration: none;
  letter-spacing: 0.29em;
  transition: 300ms;
}
body header nav ul li a:hover {
  border-bottom: 2px solid black;
}
body header:hover {
  background-color: white;
}
body main #collection-du-soleil {
  display: flex;
  gap: 2em;
  flex-direction: column;
  margin: 29em 0 0 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
body main #collection-du-soleil .title {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body main #collection-du-soleil .title h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.705em;
}
body main #collection-du-soleil .title h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.745em;
}
body main #collection-du-soleil .acheter-button div a {
  font-size: 24px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 0.28em;
  border: 1px solid white;
  border-radius: 2em;
  padding: 0.8em 1.8em;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  transition: 300ms;
}
body main #collection-du-soleil .acheter-button div a:hover {
  color: black;
  background-color: white;
}
body main #automne-fashion {
  box-shadow: inset -96px -666px 236px 90px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 115vh;
  background: url(../../assets/resources/Backgrounds/1.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100vw;
  position: relative;
}
body main #automne-fashion .title {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin: 0 0 7em 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body main #automne-fashion .title h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.705em;
}
body main #automne-fashion .title h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.745em;
}
body main #automne-fashion .acheter-button {
  position: absolute;
  bottom: 0;
  margin: 0 0 3em 0;
}
body main #automne-fashion .acheter-button div a {
  font-size: 24px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 0.28em;
  border: 1px solid white;
  border-radius: 2em;
  padding: 0.8em 1.8em;
  transition: 300ms;
}
body main #automne-fashion .acheter-button div a:hover {
  color: black;
  background-color: white;
}
body main #collection-de-luxe {
  box-shadow: inset -96px -666px 236px 90px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 115vh;
  background: url(../../assets/resources/Backgrounds/2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100vw;
  position: relative;
}
body main #collection-de-luxe .title {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin: 0 0 7em 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body main #collection-de-luxe .title h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.705em;
}
body main #collection-de-luxe .title h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.745em;
}
body main #collection-de-luxe .acheter-button {
  position: absolute;
  bottom: 0;
  margin: 0 0 3em 0;
}
body main #collection-de-luxe .acheter-button div a {
  font-size: 24px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 0.28em;
  border: 1px solid white;
  border-radius: 2em;
  padding: 0.8em 1.8em;
  transition: 300ms;
}
body main #collection-de-luxe .acheter-button div a:hover {
  color: black;
  background-color: white;
}
body main #reve-de-mode {
  box-shadow: inset -96px -666px 236px 90px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 115vh;
  background: url(../../assets/resources/Backgrounds/3.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100vw;
  position: relative;
}
body main #reve-de-mode .title {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin: 0 0 7em 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body main #reve-de-mode .title h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.705em;
}
body main #reve-de-mode .title h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.745em;
}
body main #reve-de-mode .acheter-button {
  position: absolute;
  bottom: 0;
  margin: 0 0 3em 0;
}
body main #reve-de-mode .acheter-button div a {
  font-size: 24px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 0.28em;
  border: 1px solid white;
  border-radius: 2em;
  padding: 0.8em 1.8em;
  transition: 300ms;
}
body main #reve-de-mode .acheter-button div a:hover {
  color: black;
  background-color: white;
}
body main #les-bijoux {
  box-shadow: inset -96px -666px 236px 90px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 115vh;
  background: url(../../assets/resources/Backgrounds/4.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100vw;
  position: relative;
}
body main #les-bijoux .title {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin: 0 0 7em 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body main #les-bijoux .title h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.705em;
}
body main #les-bijoux .title h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.745em;
}
body main #les-bijoux .acheter-button {
  position: absolute;
  bottom: 0;
  margin: 0 0 3em 0;
}
body main #les-bijoux .acheter-button div a {
  font-size: 24px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 0.28em;
  border: 1px solid white;
  border-radius: 2em;
  padding: 0.8em 1.8em;
  transition: 300ms;
}
body main #les-bijoux .acheter-button div a:hover {
  color: black;
  background-color: white;
}
body main #parfums-d-automne {
  box-shadow: inset -96px -666px 236px 90px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 115vh;
  background: url(../../assets/resources/Backgrounds/5.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100vw;
  position: relative;
}
body main #parfums-d-automne .title {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin: 0 0 7em 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body main #parfums-d-automne .title h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.705em;
}
body main #parfums-d-automne .title h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.745em;
}
body main #parfums-d-automne .acheter-button {
  position: absolute;
  bottom: 0;
  margin: 0 0 3em 0;
}
body main #parfums-d-automne .acheter-button div a {
  font-size: 24px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 0.28em;
  border: 1px solid white;
  border-radius: 2em;
  padding: 0.8em 1.8em;
  transition: 300ms;
}
body main #parfums-d-automne .acheter-button div a:hover {
  color: black;
  background-color: white;
}
body main #automne-fashion {
  box-shadow: inset -96px -666px 236px 90px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 115vh;
  background: url(../../assets/resources/Backgrounds/1.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100vw;
  position: relative;
}
body main #automne-fashion .title {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin: 0 0 7em 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body main #automne-fashion .title h4 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.705em;
}
body main #automne-fashion .title h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.745em;
}
body main #automne-fashion .acheter-button {
  position: absolute;
  bottom: 0;
  margin: 0 0 3em 0;
}
body main #automne-fashion .acheter-button div a {
  font-size: 24px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 0.28em;
  border: 1px solid white;
  border-radius: 2em;
  padding: 0.8em 1.8em;
  transition: 300ms;
}
body main #automne-fashion .acheter-button div a:hover {
  color: black;
  background-color: white;
}/*# sourceMappingURL=styles.css.map */